.container {
    display: flex;
}

#editor {
    height: 97.5vh;
    flex: 1;
    resize: none;
    background: #ccffcc;
    font-size: 14px;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 1em;
    border: 2px solid darkgreen;
}

#preview {
    flex: 1;
    height: 97.5vh;
    background: #b3ffff;
    margin-left: 5px;
    box-sizing: border-box;
    padding: 1em;
    border: 2px solid darkblue;
    max-width: 48vw;
}